// FIX THIS LATERR
.menu-wrapper {
  background-image:
  linear-gradient(
  rgba(42, 42, 42, 0.60),
  rgba(42, 42, 42, 0.60)
  ),
  url("../images/bg_menu.jpg");
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

.menu {
  h2 {
    padding-top: $base-padding;
  }
}

.menu-column {
  @include span-columns(7);
  margin-top: $base-padding * 4;
}

.menu-section {
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
}

.menu-item-box {
  border: 1px solid $yeast;
  padding: $base-padding;
  flex-grow: 2;
  margin: 0.5em;
  text-align: center;
}

.information-column {
  @include span-columns(5);
  background-color: $transparent-background;
  right: 0;
  padding: $base-padding 2.5em;

  .type-heading {
    font-size: 2em;
  }

  h2 {
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 1.2em;
  }

  .information {
    @include row();
    margin-top: 1.75em;

    .full-width {
      @include span-columns(12);
    }

    .half-width {
      @include span-columns(5);
    }
  }
}
