nav {
  position: fixed;
  width: 100%;
  z-index: 1;

  .navigation-format {
    float: right;
    height: 54px;
    display: table;
    margin: 0 auto;

    .navigation-items {
      display: table-cell;
      padding: 0 2em;
      vertical-align: middle;
      background: $transparent-background;

      .nav-item {
        display: inline;
        color: white;
        text-align: right;
      }
    }
  }
}
