nav#site-nav {
  position: fixed;
  top: 0;
  padding: $base-padding $base-padding * 2;
  z-index: 2;
  a {
    color: #FFF;
  }
}

.nav-left {
  left: 0;
  li {
    color: #FFF;
    opacity: 0.6;
    transform: translateX(0px);
    transition: all .3s ease-in;
    position: relative;
    &:hover {
      opacity: 1;
      transform: translateX(10px);
      transition: all .3s ease-in;
    }
  }
}
.nav-right {
  right: 0;
  li {
    color: #FFF;
    opacity: 0.6;
    transform: translateX(0px);
    transition: all .3s ease-in;
    position: relative;
    &:hover {
      opacity: 1;
      transform: translateX(-10px);
      transition: all .3s ease-in;
    }
  }
}

nav#ingredients-nav {
  position: relative;
  width: 100%;
  z-index: 1;
  background: $transparent-background;
  padding: 1em 0;
}

.ingredients-list {
  font-family: $header-font-family;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  font-size: 1.2em;

  .ingredient-section-item {
    color: white;
    text-align: center;
    flex-grow: 1;

    a {
      color: #FFF;
    }
  }

  .water-active a {
    color: $water !important;
  }

  .malt-active a {
    color: $malt !important;
  }

  .hops-active a {
    color: $hops !important;
  }

  .yeast-active a {
    color: $yeast !important;
  }
}

.affix {
  position: fixed !important;
  top: 0;
}
