@charset "utf-8";

@import "bourbon";
@import "base/base";   /* Bitters needs to be imported before Neat */
@import "neat";

@import "navigation";
@import "fonts";
@import "onepager/sections";
@import "onepager/landing";
@import "onepager/offcanvas-styles";

body {
  background: $body-background;
  font-family: $base-font-family;
  color: $base-font-color;
}

.page-wrapper {
  @include outer-container;
  padding: 0 $base-padding;
}


.menu {
  h1 {
    padding-top: $base-padding * 8;
  }
}

