@charset "utf-8";

@import "bourbon";
@import "base/base";   /* Bitters needs to be imported before Neat */
@import "neat";

@import "navigation";
@import "fonts";
@import "onepager/sections";
@import "onepager/landing";

body {
  background: $body-background;
  font-family: $base-font-family;
  color: $base-font-color;
}

.page-wrapper {
  @include outer-container;
  padding: 0 $base-padding;
}

#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.menu {
  h1 {
    padding-top: $base-padding * 8;
  }
}

