<section class="page-section hops">
  <div class="page-wrapper">
    <div class="row">
      <div class="section-info">
        <h2 class="section-title"><%= partial "partials/svg/hops" %>Hops</h2>
        <p>Here's some loremipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin erat nisl, porta in nibh imperdiet, facilisis sagittis diam. Cras eu ultrices ipsum. Nullam fermentum consectetur neque quis tristique dunt dapibus lacus, eget finibus urna mollis id. Cras eu ultrices ipsum. Nullam fermentum consectetur.</p>
      </div>
    </div>
    <div class="placeholder">Work in progress, check back soon</div>
  </div>
</section>
