<section id="hops-section" class="page-section hops">
  <div class="page-wrapper">
    <div class="row">
      <div class="section-description">
        <h2 class="section-title"><%= partial "partials/svg/hops" %>Hops</h2>
        <p>Where malt gives beer its grainy sweetness, hops serve to balance it
        out with more bitter flavors. Hops are a part of the cannabis family
        (sorry r/trees, no THC here). The cone like flower from the vine of the
        plant is boiled into the brew at the tail end of the brewing process.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="list-interactions">
        <ul class="section-list">
          <li class="list-columns">
          <h3>Regional Hops</h3>
          <p>Different regions impart different characteristics upon their hops.</p>
          </li>
          <li class="list-columns">
          <h3>Flavors</h3>
          <p>Flavors from hops include Floral, Fruity, Citrus, Herbal, Earthy, Piney, Spicy</p>
          </li>
          <li class="list-columns">
          <h3>Alpha Acids</h3>
          <p>Give bitterness to the beer. Need to be chemically altered through
          boiling to be utilized. Bitterness is determined by alpha acid
          content, amount of hops, and length of time hops are boiled. </p> 
          </li>
          <li class="list-columns">
          <h3>Essential Oils</h3>
          <p>Hop flavors and aromas. Easily dissolved into the wort but highly volatile. Added later in the boiling process or else the flavors disappear in the steam.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
