<nav id="ingredients-nav">
  <div class="page-wrapper">
    <ul class="ingredients-list">
      <li id="water-ing" class="ingredient-section-item"><a data-scroll href="#water-section">Water</a></li>
      <li id="malt-ing" class="ingredient-section-item"><a data-scroll href="#malt-section">Malt</a></li>
      <li id="hops-ing" class="ingredient-section-item"><a data-scroll href="#hops-section">Hops</a></li>
      <li id="yeast-ing" class="ingredient-section-item"><a data-scroll href="#yeast-section">Yeast</a></li>
    </ul>
  </div>
</nav>
