<section id="malt-section" class="page-section malt">
  <div class="page-wrapper">

    <div class="row">
      <div class="section-description">
        <h2 class="section-title"><%= partial "partials/svg/malt" %>Malt</h2>
        <p>Malt is the main source of fermentable sugar in beer and are the
        cause of grainy flavors in beer. Malt can be made from rye, wheat, oats,
        and – the most common – barley. The type of malt used affects the color,
        flavor, and mouthfeel of the beer.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="list-interactions">
        <ul id="malt-list" class="section-list">
          <li class="list-columns">
          <h3>Base Malt</h3>
          <p class="mini-body">The base malts receive the least kilning and are the lightest kind of malt. These make up the majority of the beer recipe.</p>
          <span class="mini-heading">Flavors</span>
          <p class="mini-body">Grainy<br>Corny<br>Bready<br>Saltine cracker<br>Husky</p>
          </li>
          <li class="list-columns">
          <h3>Caramel Malt</h3>
          <p class="mini-body">Caramel malts are made by allowing enzymes to convert complex carbs into simple sugars before kilning. Kilning then crystalizes the sugars in the grain. They can range from light to dark color with intensifying flavors.</p>
          <span class="mini-heading">Flavors</span>
          <p class="mini-body">Caramel<br>Toffee<br>Brown Sugar<br>Molasses<br>Burnt Sugar<br>Plum &amp; Deep Fruit</p>
          </li>
          <li class="list-columns">
          <h3>Kilned Malt</h3>
          <p class="mini-body">Kilned, or Toasted, malts come in a wide variety of flavors and types and are dry kilned.</p>
          <span class="mini-heading">Flavors</span>
          <p class="mini-body">Toast<br>Biscuit<br>Nutty<br>Graham Cracker<br>Bread Crust</p>
          </li>
          <li class="list-columns">
          <h3>Roasted Malt</h3>
          <p class="mini-body">Roasted malts are kilned at the highest temperatures and are very dark brow or almost black. They're used in mainly Stouts and Porters.</p>
          <span class="mini-heading">Flavors</span>
          <p class="mini-body">Roasted<br>Burnt<br>Smoky<br>Bitter<br>Chocolate<br>Coffee</p>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>
