<section class="page-section malt">
  <div class="page-wrapper">
    <div class="section-info">
      <h2 class="section-title"><span class="section-title-i"></span>Malt</h2>
      <p>Malt is made from soaking cereal grains in water until they’ve germinated and then dried. The type of malt used affects the color, flavor, and mouthfeel of the beer. Click on a type of malt below to find out what kind of malt your favorite beers are using. </p>
    </div>
  </div>
</section>
