<section class="page-section malt">
  <div class="page-wrapper">

    <div class="row">
      <div class="section-description">
        <h2 class="section-title"><span class="section-title-i"></span>Malt</h2>
        <p>Malt is made from soaking cereal grains in water until they’ve germinated and then dried. The type of malt used affects the color, flavor, and mouthfeel of the beer. Click on a type of malt below to find out what kind of malt your favorite beers are using. </p>
      </div>
    </div>

    <div class="row">
      <div class="list-interactions">
        <ul class="section-list">
          <li class="list-stack malt-active">
          <div class="list-svg">
            <%# <%= partial "svg/carbonate-bicarbonate" %>
          </div>
          <h3>Base Malt</h3>
          </li>
          <li class="list-stack">
          <div class="list-svg">
            <%# <%= partial "svg/carbonate-bicarbonate" %>
          </div>
          <h3>Caramel Malt</h3>
          </li>
          <li class="list-stack">
          <div class="list-svg">
            <%# <%= partial "svg/carbonate-bicarbonate" %>
          </div>
          <h3>Kilned Malt</h3>
          </li>
          <li class="list-stack">
          <div class="list-svg">
            <%# <%= partial "svg/carbonate-bicarbonate" %>
          </div>
          <h3>Roasted Malt</h3>
          </li>
        </div>
      </ul>
    </div>

    <div class="section-information">
      <h4 class="information-title">Carbonate &amp; Bicarbonate</h4>
      <span>Affects on brew</span>
      <p>Determines the acidity of the mash and temporary hardness of the
      water. If the levels are too high, the <a href="#">mash</a> becomes
      too acidic. If the levels are too low, the efficiency of the mash
      decreases.</p>
      <span>What this means for you</span>
      <p>Pre-boil your water, hoes.</p>
    </div>
  </div>
</section>
