<nav id="main" class="main-navigation">
  <div class="navigation-format">
    <ul class="navigation-items">
      <li class="nav-item"><%= link_to "Making Beer", 'index.html'%></li>
      <li class="nav-item"><%= link_to "Beer Menu", 'beer-menu.html'%></li>
    </ul>
  </div>
</nav>
