<div class="offcanvas-menu oc-yeast">
  <div class="page-wrapper">
    <span class="x-trigger show-offcanvas"><%= partial "partials/svg/x" %></span>
    <h3 class="oc-heading">Stop. Lager time.</h3>
    <div class="row">
      <div class="oc-information">
        <p class="definition">
          <span class="mini-heading">What makes a lager, a lager?</span>
          <br>
          Lager beers use bottom fermenting yeast and are brewed in cool
          temperatures. The cooler temperature slows down the activity of the
          yeast and requires a longer aging time.
        </p>
        <div class="characteristics">
          <span class="mini-heading">Characteristics</span>
          <ul class="characteristic-list">
            <li class="characteristic">Lighter tasting</li>
            <li class="characteristic">Tend to be highly carbonated or crisp</li>
            <li class="characteristic">Tend to be smooth and mellow</li>
            <li class="characteristic">Have a subtle, clean, balanced taste and aroma</li>
            <li class="characteristic">Served at cooler temperatures (38–45 F)</li>
          </ul>
        </div>
      </div>
      <div class="oc-styles">
        <h4 class="oc-heading">Styles of Lagers</h4>
        <ul class="style-list">
          <li class="styles"><a href="">Pilsner</a></li>
          <li class="styles"><a href="">American Pilsner</a></li>
          <li class="styles"><a href="">Bock</a></li>
          <li class="styles"><a href="">Munich Lager</a></li>
          <li class="styles"><a href="">European Lager</a></li>
          <li class="styles"><a href="">American Lager</a></li>
          <li class="styles"><a href="">American Adjunct Lager</a></li>
          <li class="styles"><a href="">German Lager</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="oc-example-beers">
        <h4 class="oc-heading">Common Lager Beers</h4>
        <ul class="beer-list">
          <li class="beers"></li>
          <li class="beers"></li>
          <li class="beers"></li>
          <li class="beers"></li>
          <li class="beers"></li>
          <li class="beers"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
