<section class="page-section water">
  <div class="page-wrapper">
    <div class="section-info">
      <h2 class="section-title"><span class="section-title-i"></span>Water</h2>
      <p>Water can make or break your beer. Most breweries have their water filtration process down to a science whereas some smalled breweries let the local water shape the beer they brew.</p>
    </div>
  </div>
</section>
