<nav class="main-navigation">
  <div class="navigation-format">
    <ul class="navigation-items">
      <li class="nav-item">Making Beer</li>
      <li class="nav-item">Beer Menu</li>
    </ul>
  </div>
</nav>
