.page-section {
  padding: 8em 0 6em;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}

.row {
  @include row();
}

.iframe-row {
  padding-top: 10em;
  margin: 0 auto;
}

.section-description {
  @include span-columns(7);
}

.section-title {
  padding-bottom: $base-padding;
}

.section-subheader {
  padding-bottom: $base-padding / 4;
}


