#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.offcanvas-menu {
  position: fixed;
  background-color: $transparent-background;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.oc-yeast {
  border-top: 2px solid $yeast;
  bottom: 0;
  padding-top: 3em;
  width: 100%;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
}

.oc-heading {
  padding-bottom: $base-padding;
}

.row {
  @include row;
  padding-bottom: $base-padding * 2;
}

.oc-information {
  @include span-columns(5);
}

.oc-styles {
  @include span-columns(4);
  @include shift(3);
}

.show-nav {
  transform: translateY(0);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  height: 75%;
}

.mini-heading {
  font-weight: 600;
  font-size: 1.2em;
}

.x-trigger {
  position: absolute;
  cursor: pointer;
  right: 0;

  svg {
    fill: #FFFFFF;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
}

.information-column {
  border-left: 2px solid $yeast;
  height: 100%;
  margin-top: 54px;
}
