#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.offcanvas-menu {
  position: fixed;
  background-color: $transparent-background;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  overflow: scroll;
}

.oc-yeast {
  border-top: 2px solid $yeast;
  bottom: 0;
  padding-top: 3em;
  width: 100%;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
}

.oc-heading {
  padding-bottom: $base-padding;
}

.row {
  @include row;
  padding-bottom: $base-padding * 3;
}

.oc-information {
  @include span-columns(12);

  .oc-summary,
  .oc-characteristics,
  .oc-example-beers {
    @include span-columns(4);
  }
}

.oc-styles {
  @include span-columns(12);
}

.show-nav {
  transform: translateY(0);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  height: 75%;
}

.mini-heading {
  font-weight: 600;
  padding-bottom: $base-padding / 2;
  display: block;
}

.mini-body {
  font-weight: 300;
}

.characteristic,
.beers {
  padding-bottom: $base-padding / 3;

  &:last-child {
    padding-bottom: 0;
  }
}

.x-trigger {
  position: fixed;
  cursor: pointer;
  right: 0;
  padding-right: $base-padding * 3;

  svg {
    fill: #FFFFFF;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
}

.style-list {
  li {
    display: inline-block;
  }
}
