.page-section {
  padding: 4em 0 2em;
  height: 800px;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

.row {
  @include row();
}

.section-info {
  @include span-columns(4);
}

.section-title {
  padding-bottom: $base-padding;
}

.section-subheader {
  padding-bottom: $base-padding / 4;
}

.ingredient-column {
  @include span-columns(3);
}

.water {
  background-color: $water;
  background-image: 
  linear-gradient(
  rgba(42, 42, 42, 0.70), 
  rgba(42, 42, 42, 0.70)
  ),
  url("../images/bg-water.jpg");
}

.malt {
  background-color: $malt;
  background-image: 
  linear-gradient(
  rgba(42, 42, 42, 0.60), 
  rgba(42, 42, 42, 0.60)
  ),
  url("../images/bg-malt.jpg");
}

.hops {
  background-color: $hops;
  background-image: 
  linear-gradient(
  rgba(42, 42, 42, 0.60), 
  rgba(42, 42, 42, 0.60)
  ),
  url("../images/bg-hops.jpg");
}

.yeast {
  background-color: $yeast;
  background-image:
  linear-gradient(
  rgba(42, 42, 42, 0.60),
  rgba(42, 42, 42, 0.60)
  ),
  url("../images/bg-yeast.jpg");
}

.type-container {
  @include clearfix;
  margin-top: 2em;
  ul {
    li {
      @include span-columns(4);
      text-align: center;
      display: inline;

      h3{
        font-weight: 100;
      }

      .show-offcanvas {
        cursor: pointer;
        &:hover {
          color: $yeast;
        }
      }
    }
  }
}

.tall-glass {
  padding-top: 2em;
  margin: 0 auto;

  svg {
    transform: scale(0.75);

    .liquid {
      fill: #FFFFFF;

      &:hover {
        fill: $yeast;
      }
    }

    .glass {
      fill: #FFFFFF;
      opacity: 0.8;
    }
  }
}
