.section-list {
  @include span-columns(10);
}

.list-columns {
  @include span-columns(3);
  padding-top: $base-padding * 3;
  height: 100px;
  cursor: pointer;

  h3 {
    font-size: 1.2em;

  }
}

.water-col {
  &:hover {
    color: $water;
  }
}

.list-stack {
  @include span-columns(4);
  float: none;
  padding-bottom: $base-padding / 2;
  cursor: pointer;

  &:last-child {
    padding-bottom: none;
  }

  h3 {
    font-size: 1.4em;
  }

  &:hover {
    color: $malt;
  }
}


.section-information {
  @include span-columns(4);
  background-color: $transparent-background;
  padding: $base-padding * 2;
  position: absolute;
  right: 0;

  .information-title {
    font-size: 1.2em;
    padding-bottom: $base-padding;
    color: $water;
  }

  p {
    max-width: 350px;
  }
}

.section-information-large {
  @include span-columns(7);
  background-color: $transparent-background;
  padding: $base-padding * 2;
  position: absolute;
  right: 0;

  .information-title {
    font-size: 1.2em;
    padding-bottom: $base-padding;
    color: $water;
  }

  span {
    font-weight: 600;
  }
  p {
    font-weight: 300;
    max-width: 350px;
  }
}

.water {
  background-color: $water;
  background-image:
  linear-gradient(
  rgba(42, 42, 42, 0.70),
  rgba(42, 42, 42, 0.70)
  ),
  url("../images/bg-water.jpg");
}

.water-drop {
  svg {
    width: 25px;

    path {
      fill: $water;
    }
  }
}

.water-active {
  color: $water;
}

.water-col {
  color: #FFF;
}

.malt {
  background-color: $malt;
  background-image:
  linear-gradient(
  rgba(42, 42, 42, 0.70), 
  rgba(42, 42, 42, 0.70)
  ),
  url("../images/bg-malt.jpg");
}

.ic-section-heading {
  position: relative;

  svg {
    position: absolute;
    left: -45px;
  }
}

.malt-branch {
  svg {
    width: 30px;

    path {
      fill: $malt;
    }
  }
}

#malt-list {
  background-color: $transparent-background;
  padding: $base-padding;
  display: flex;
  width: 100%;
  align-items: stretch;

  li {
    padding: $base-padding;
    justify-content: space-around;
    height: 50vh;
    border-right: 1px solid rgba(255,255,255,0.3);

    p {
      font-size: .9em;
    }

    &:first-child {
      h3 {
        color: $malt;
      }
    }
    &:nth-child(2) {
      h3 {
        color: darken($malt, 10%);
      }
    }
    &:nth-child(3) {
      h3 {
        color: darken($malt, 30%);
      }
    }
    &:last-child {
      border-right: none;
      h3 {
        color: darken($malt, 50%);
      }
    }
  }
}


.hops {
  background-color: $hops;
  background-image:
  linear-gradient(
  rgba(42, 42, 42, 0.60),
  rgba(42, 42, 42, 0.60)
  ),
  url("../images/bg-hops.jpg");
}

.hops-nug {
  svg {
    width: 30px;

    path {
      fill: $hops;
    }
  }
}

.yeast {
  background-color: $yeast;
  background-image:
  linear-gradient(
  rgba(42, 42, 42, 0.60),
  rgba(42, 42, 42, 0.60)
  ),
  url("../images/bg-yeast.jpg");
}

.yeast-particles {
  svg {
    width: 35px;
  }
}

.type-container {
  @include clearfix;
  margin-top: 2em;

  ul {
    li {
      @include span-columns(4);
      text-align: center;
      display: inline;

      h3{
        font-weight: 100;
      }

      .show-offcanvas {
        cursor: pointer;
        &:hover {
          color: $yeast;
        }
      }
    }
  }
}


.tall-glass,
.round-glass,
.fancy-glass {
  padding-top: 2em;
  margin: 0 auto;

  svg {
    transform: scale(0.75);

    .liquid {
      fill: #FFFFFF;

      &:hover {
        fill: $yeast;
      }
    }

    .glass {
      fill: #FFFFFF;
      opacity: 0.8;
    }
  }
}
