.section-list {
  @include span-columns(10);
}

.list-columns {
  @include span-columns(3);
  padding-top: $base-padding * 3;
  height: 100px;
  cursor: pointer;

  h3 {
    font-size: 1.2em;
  }
}

.list-interactions {
  // position: relative;
}

.section-information {
  @include span-columns(4);
  background-color: $transparent-background;
  padding: $base-padding * 2;
  position: absolute;
  right: 0;

  .information-title {
    font-size: 1.2em;
    padding-bottom: $base-padding;
  }

  span {
    font-weight: 600;
  }
  p {
    font-weight: 300;
    max-width: 350px;
  }
}

.water {
  background-color: $water;
  background-image:
  linear-gradient(
  rgba(42, 42, 42, 0.70),
  rgba(42, 42, 42, 0.70)
  ),
  url("../images/bg-water.jpg");
}

.water-active {
  h3 {
    color: $water;
  }
}

.malt {
  background-color: $malt;
  background-image:
  linear-gradient(
  rgba(42, 42, 42, 0.60), 
  rgba(42, 42, 42, 0.60)
  ),
  url("../images/bg-malt.jpg");
}

.hops {
  background-color: $hops;
  background-image:
  linear-gradient(
  rgba(42, 42, 42, 0.60),
  rgba(42, 42, 42, 0.60)
  ),
  url("../images/bg-hops.jpg");
}

.yeast {
  background-color: $yeast;
  background-image:
  linear-gradient(
  rgba(42, 42, 42, 0.60),
  rgba(42, 42, 42, 0.60)
  ),
  url("../images/bg-yeast.jpg");
}


.type-container {
  @include clearfix;
  margin-top: 2em;

  ul {
    li {
      @include span-columns(4);
      text-align: center;
      display: inline;

      h3{
        font-weight: 100;
      }

      .show-offcanvas {
        cursor: pointer;
        &:hover {
          color: $yeast;
        }
      }
    }
  }
}


.tall-glass {
  padding-top: 2em;
  margin: 0 auto;

  svg {
    transform: scale(0.75);

    .liquid {
      fill: #FFFFFF;

      &:hover {
        fill: $yeast;
      }
    }

    .glass {
      fill: #FFFFFF;
      opacity: 0.8;
    }
  }
}
