<span class="ic-section-heading hops-nug"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    width="111.36px" height="50px" viewBox="0 0 111.36 119.397" enable-background="new 0 0 111.36 119.397"
    xml:space="preserve">
    <path d="M11.168,32.827C-6.103,55.251-2.918,86.96,17.785,105.572l-5.074,6.589
    c-1.393,1.809-1.055,4.408,0.753,5.801c1.809,1.393,4.408,1.055,5.801-0.754l5.074-6.588c23.281,15.266,54.753,10.248,72.023-12.174
    c-1.344-1.036-2.729-1.98-4.137-2.871c9.922-9.111,15.826-21.408,17.1-34.295c-2.027-0.719-4.098-1.307-6.193-1.781
    c5.299-8.461,8.121-18.161,8.229-27.974c-2.635-0.683-5.315-1.153-8.02-1.434c3.212-9.819,3.49-20.274,0.979-30.092
    C94.186,0.077,84.161,3.052,75.486,8.665c-0.963-2.555-2.106-5.04-3.446-7.424c-9.459,2.609-18.117,7.812-24.948,15.096
    c-0.99-1.906-2.087-3.754-3.302-5.531c-12.131,4.523-22.516,13.369-28.791,25.289C13.779,34.961,12.511,33.863,11.168,32.827z
    M26.004,101.681C8.625,88.296,3.6,64.729,12.85,45.733c4.469,5.176,7.698,11.296,9.48,18.062l2.347,8.888l8.59-3.263
    c6.34-2.408,13.1-3.375,19.783-2.856c2.209,6.33,3.002,13.114,2.291,19.856l-0.961,9.146l9.193-0.005
    c6.992-0.003,13.736,1.553,19.883,4.555C67.45,113.907,43.383,115.065,26.004,101.681z M50.69,57.442
    c1.062-3.354,1.76-6.73,2.155-10.098c6.718-6.539,15.204-10.839,24.481-12.3c0.956,9.343-1.033,18.645-5.644,26.812
    c-3.155,1.237-6.241,2.774-9.212,4.66c-0.226,0.145-0.432,0.31-0.656,0.456c-0.766-2.727-1.724-5.4-2.924-7.993
    c-2.812-0.499-5.643-0.741-8.475-0.786C50.501,57.94,50.608,57.698,50.69,57.442z M99.911,67.255
    c-2.414,9.575-7.855,18.018-15.572,24.209c-6.672-2.8-13.737-4.184-20.772-4.179c0.399-3.799,0.38-7.618-0.02-11.394
    c1.08-0.84,2.187-1.648,3.36-2.389C76.837,67.198,88.558,65.036,99.911,67.255z M102.505,38.298
    c-1.176,7.306-4.144,14.104-8.551,19.941c-3.903-0.2-7.842,0.019-11.747,0.688c2.401-6.227,3.576-12.752,3.58-19.265
    C91.19,38.183,96.845,37.694,102.505,38.298z M97.518,8.831c0.741,7.226-0.302,14.418-2.938,21.089
    c-3.158,0.188-6.306,0.667-9.419,1.411c-0.268-1.722-0.6-3.429-1.033-5.117c-1.743,0.014-3.479,0.129-5.209,0.311
    c-0.078-3.196-0.418-6.363-1.043-9.469C83.651,12.808,90.343,9.959,97.518,8.831z M67.754,11.531
    c2.028,5.319,2.999,10.907,2.946,16.509c-6.286,1.669-12.304,4.462-17.707,8.373c-0.355-3.941-1.148-7.8-2.336-11.521
    C55.171,19.136,60.986,14.532,67.754,11.531z M40.418,21.433c5.044,10.41,5.946,22.297,2.39,33.511
    c-0.422,1.319-0.918,2.599-1.456,3.854c-3.757,0.578-7.452,1.536-11.021,2.891c-1.795-6.801-4.935-13.28-9.342-19.018
    C25.005,33.628,31.776,26.212,40.418,21.433z"/>
  </svg>
</span>
