<span class="ic-section-heading malt-branch">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    width="72.652px" height="50px" viewBox="0 0 72.652 171.52" enable-background="new 0 0 72.652 171.52" xml:space="preserve">
    <path d="M29.98,31.543L19.545,23.84l-3.932-11.287L19.299,0l10.563,7.707l3.847,11.336L29.98,31.543z M22.072,21.977
    l6.254,4.617l2.234-7.492L27.327,9.57l-6.351-4.633l-2.213,7.537L22.072,21.977z"/>
    <path d="M42.269,47.856l-2.743-12.755l4.719-11l11.132-6.86l2.696,12.802l-4.8,10.947L42.269,47.856z M42.66,35.406
    l1.644,7.644l6.594-4.114l4.04-9.217l-1.618-7.687l-6.692,4.124L42.66,35.406z"/>
    <path d="M54.935,134.193l-1.281-12.981l5.933-10.396l11.836-5.556l1.23,13.022l-6.007,10.335L54.935,134.193z
    M56.733,121.868l0.768,7.78l7.018-3.342l5.056-8.7l-0.738-7.819l-7.115,3.341L56.733,121.868z"/>
    <path d="M53.067,104.078l-1.73-12.93l5.568-10.596l11.637-5.964l1.681,12.974l-5.644,10.536L53.067,104.078z
    M54.437,91.697l1.037,7.75l6.898-3.583l4.751-8.87l-1.009-7.79l-6.996,3.585L54.437,91.697z"/>
    <path d="M48.214,75.949L46.03,63.09l5.193-10.786l11.42-6.368l2.135,12.906l-5.271,10.728L48.214,75.949z
    M49.147,63.529l1.309,7.707l6.768-3.823l4.438-9.03l-1.281-7.75l-6.865,3.829L49.147,63.529z"/>
    <path d="M26.716,52.913l-13.072-0.338l-9.606-7.141L0,33.031l12.965,0.406l9.649,7.054L26.716,52.913z
    M14.671,49.601l7.859,0.203l-2.463-7.459l-8.124-5.938l-7.77-0.242l2.42,7.433L14.671,49.601z"/>
    <path d="M32.525,80.664l-13.031-1.059l-9.198-7.662L6.951,59.336l12.922,1.122l9.245,7.576L32.525,80.664z
    M20.684,76.691l7.834,0.637l-2.046-7.583l-7.782-6.379l-7.744-0.673l2.005,7.557L20.684,76.691z"/>
    <path fill="#FFEAC5" d="M36.59,108.479l-12.989-1.512l-8.925-7.975l-2.907-12.717l12.877,1.57l8.975,7.893L36.59,108.479z
    M24.892,104.099l7.808,0.908l-1.782-7.65l-7.557-6.645l-7.715-0.941l1.741,7.623L24.892,104.099z"/>
    <path fill="#FFEAC5" d="M40.635,137.287l-12.928-1.967l-8.641-8.283l-2.459-12.811l12.813,2.021l8.692,8.202L40.635,137.287z
    M29.098,132.498l7.771,1.182l-1.514-7.708l-7.319-6.905l-7.677-1.211l1.473,7.678L29.098,132.498z"/>
    <path fill="#FFEAC5" d="M46.602,166.283C46.109,94.864,29.866,39.363,29.662,38.549l3.879-0.975
    c0.206,0.82,16.564,56.773,17.061,128.682l-2,5.264L46.602,166.283z"/>
  </svg>
</span>
