<div class="tall-glass">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    width="90.111px" height="157.713px" viewBox="0 0 90.111 157.713" enable-background="new 0 0 90.111 157.713"
    xml:space="preserve">
    <polygon class="glass" points="85.719,0 82.178,61.872 71.145,152.568 18.646,152.568 7.841,62.044 4.423,0 0,0 3.793,57.609 15.761,157.713 
    73.953,157.713 86.174,57.422 90.111,0 "/>
    <polygon class="liquid" points="9.609,24.414 80.574,24.414 77.475,69.818 67.852,148.982 22.025,148.982 12.59,69.967 "/>
  </svg>
</div>
