<span class="water-drop">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 79.615 145.665" enable-background="new 0 0 79.615 145.665"
    xml:space="preserve">
    <path d="M43.266,145.665l-7.881-0.038c-16.431-2.411-28.198-11.947-33.134-26.85
    c-5.989-18.078,0.646-40.937,11.955-54.875c15.743-19.401,21.57-43.352,21.633-43.707L39.395,0l3.59,20.189
    c0.062,0.356,7.521,26.326,21.634,43.713c11.436,14.087,18.506,35.611,13.203,52.996c-4.604,15.09-16.752,25.281-34.211,28.699
    L43.266,145.665z M36.181,138.068h6.376c18.589-3,25.666-14.737,28.326-23.458c4.578-15.009-1.982-33.147-11.394-45.663
    c-8.361-11.121-16.5-27.309-20.068-39.787c-3.556,12.463-11.232,27.898-20.086,39.851c-9.037,12.2-15.311,31.868-10.198,47.304
    C11.974,124.877,18.968,136.068,36.181,138.068z"/>
  </svg>
</span>
