<div class="x-trigger">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  width="21.269px" height="21.269px" viewBox="0 0 21.269 21.269" enable-background="new 0 0 21.269 21.269" xml:space="preserve">
    <path d="M10.576,13.947l-6.935,6.934l-3.254-3.254l6.935-6.935L0,3.37L3.37,0l7.322,7.322l6.934-6.935l3.255,3.255l-6.934,6.934
  l7.321,7.323l-3.37,3.369L10.576,13.947z"/>
  </svg>

</div>
