<span class="ic-section-heading yeast-particles"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  width="153.521px" height="50px" viewBox="0 0 153.521 172.607" enable-background="new 0 0 153.521 172.607"
  xml:space="preserve">
  <g>
  <path opacity="0.6" fill="#E9B221" d="M59.611,168.53c1.724,3.583,6.028,5.085,9.61,3.366c3.592-1.726,5.088-6.028,3.365-9.615
  c-1.719-3.582-6.027-5.095-9.615-3.372C59.385,160.646,57.888,164.949,59.611,168.53z"/>
  <path opacity="0.6" fill="#E9B221" d="M81.439,74.727c8.226,0,14.88-6.667,14.88-14.9c0.014-8.213-6.662-14.879-14.88-14.879
  c-8.225,0-14.889,6.666-14.896,14.879C66.544,68.06,73.215,74.727,81.439,74.727z"/>
  <path opacity="0.6" fill="#E9B221" d="M81.439,117.246c8.226,0,14.88-6.668,14.88-14.901c0.014-8.214-6.662-14.88-14.88-14.88
  c-8.225,0-14.889,6.666-14.896,14.88C66.544,110.578,73.215,117.246,81.439,117.246z"/>
  <path opacity="0.6" fill="#E9B221" d="M102.698,95.986c8.227,0,14.881-6.667,14.881-14.9c0.014-8.213-6.662-14.879-14.881-14.879
  c-8.225,0-14.889,6.666-14.896,14.879C87.803,89.319,94.474,95.986,102.698,95.986z"/>
  <path opacity="0.6" fill="#E9B221" d="M60.181,95.986c8.225,0,14.88-6.667,14.88-14.9c0.013-8.213-6.663-14.879-14.88-14.879
  c-8.225,0-14.889,6.666-14.896,14.879C45.284,89.319,51.956,95.986,60.181,95.986z"/>
  <path opacity="0.8" fill="#E9B221" d="M81.439,95.986c8.226,0,14.88-6.667,14.88-14.9c0.014-8.213-6.662-14.879-14.88-14.879
  c-8.225,0-14.889,6.666-14.896,14.879C66.544,89.319,73.215,95.986,81.439,95.986z"/>
  <path opacity="0.6" fill="#E9B221" d="M102.698,117.246c8.227,0,14.881-6.668,14.881-14.901c0.014-8.214-6.662-14.88-14.881-14.88
  c-8.225,0-14.889,6.666-14.896,14.88C87.803,110.578,94.474,117.246,102.698,117.246z"/>
  <path opacity="0.6" fill="#E9B221" d="M102.698,74.727c8.227,0,14.881-6.667,14.881-14.9c0.014-8.213-6.662-14.879-14.881-14.879
  c-8.225,0-14.889,6.666-14.896,14.879C87.803,68.06,94.474,74.727,102.698,74.727z"/>
  <path opacity="0.6" fill="#E9B221" d="M60.181,74.727c8.225,0,14.88-6.667,14.88-14.9c0.013-8.213-6.663-14.879-14.88-14.879
  c-8.225,0-14.889,6.666-14.896,14.879C45.284,68.06,51.956,74.727,60.181,74.727z"/>
  <path opacity="0.6" fill="#E9B221" d="M60.181,117.246c8.225,0,14.88-6.668,14.88-14.901c0.013-8.214-6.663-14.88-14.88-14.88
  c-8.225,0-14.889,6.666-14.896,14.88C45.284,110.578,51.956,117.246,60.181,117.246z"/>
  <path opacity="0.6" fill="#E9B221" d="M68.782,138.504c8.225,0,14.881-6.666,14.881-14.9c0.014-8.213-6.663-14.879-14.881-14.879
  c-8.225,0-14.889,6.666-14.896,14.879C53.887,131.838,60.558,138.504,68.782,138.504z"/>
  <path opacity="0.6" fill="#E9B221" d="M90.479,138.504c8.227,0,14.881-6.666,14.881-14.9c0.014-8.213-6.662-14.879-14.881-14.879
  c-8.225,0-14.888,6.666-14.896,14.879C75.584,131.838,82.255,138.504,90.479,138.504z"/>
  <path opacity="0.6" fill="#E9B221" d="M116.726,138.504c8.225,0,14.88-6.666,14.88-14.9c0.015-8.213-6.661-14.879-14.88-14.879
  c-8.225,0-14.89,6.666-14.896,14.879C101.829,131.838,108.501,138.504,116.726,138.504z"/>
  <path opacity="0.6" fill="#E9B221" d="M123.958,112.26c8.225,0,14.88-6.668,14.88-14.901c0.015-8.213-6.661-14.878-14.88-14.878
  c-8.226,0-14.889,6.665-14.896,14.878C109.062,105.592,115.732,112.26,123.958,112.26z"/>
  <path opacity="0.6" fill="#E9B221" d="M42.538,112.26c8.225,0,14.88-6.668,14.88-14.901c0.013-8.213-6.663-14.878-14.88-14.878
  c-8.226,0-14.889,6.665-14.896,14.878C27.642,105.592,34.312,112.26,42.538,112.26z"/>
  <path opacity="0.6" fill="#E9B221" d="M123.958,88.754c8.225,0,14.88-6.668,14.88-14.9c0.015-8.214-6.661-14.879-14.88-14.879
  c-8.226,0-14.889,6.665-14.896,14.879C109.062,82.086,115.732,88.754,123.958,88.754z"/>
  <path opacity="0.6" fill="#E9B221" d="M40.729,88.754c8.225,0,14.88-6.668,14.88-14.9c0.014-8.214-6.663-14.879-14.88-14.879
  c-8.225,0-14.889,6.665-14.896,14.879C25.833,82.086,32.505,88.754,40.729,88.754z"/>
  <path opacity="0.6" fill="#E9B221" d="M123.958,65.248c8.225,0,14.88-6.668,14.88-14.9c0.015-8.214-6.661-14.879-14.88-14.879
  c-8.226,0-14.889,6.665-14.896,14.879C109.062,58.58,115.732,65.248,123.958,65.248z"/>
  <path opacity="0.6" fill="#E9B221" d="M97.713,58.893c8.225,0,14.88-6.668,14.88-14.901c0.015-8.213-6.662-14.878-14.88-14.878
  c-8.225,0-14.89,6.665-14.896,14.878C82.816,52.225,89.488,58.893,97.713,58.893z"/>
  <path opacity="0.6" fill="#E9B221" d="M74.207,58.893c8.226,0,14.881-6.668,14.881-14.901c0.013-8.213-6.663-14.878-14.881-14.878
  c-8.226,0-14.89,6.665-14.896,14.878C59.312,52.225,65.981,58.893,74.207,58.893z"/>
  <path opacity="0.6" fill="#E9B221" d="M47.962,62.51c8.225,0,14.88-6.669,14.88-14.902c0.015-8.213-6.663-14.879-14.88-14.879
  c-8.225,0-14.889,6.666-14.896,14.879C33.066,55.841,39.737,62.51,47.962,62.51z"/>
  <path opacity="0.6" fill="#E9B221" d="M42.538,135.766c8.225,0,14.88-6.668,14.88-14.901c0.013-8.213-6.663-14.879-14.88-14.879
  c-8.226,0-14.889,6.666-14.896,14.879C27.642,129.098,34.312,135.766,42.538,135.766z"/>
  <path opacity="0.6" fill="#E9B221" d="M137.271,130.287c8.225,0,14.881-6.668,14.881-14.902
  c0.014-8.212-6.662-14.878-14.881-14.878c-8.225,0-14.89,6.666-14.896,14.878C122.374,123.619,129.046,130.287,137.271,130.287z"/>
  <path opacity="0.6" fill="#E9B221" d="M138.641,104.947c8.224,0,14.88-6.667,14.88-14.9c0.014-8.213-6.662-14.879-14.88-14.879
  c-8.226,0-14.89,6.666-14.896,14.879C123.744,98.28,130.415,104.947,138.641,104.947z"/>
  <path opacity="0.6" fill="#E9B221" d="M138.641,80.979c8.224,0,14.88-6.668,14.88-14.901c0.014-8.213-6.662-14.878-14.88-14.878
  c-8.226,0-14.89,6.665-14.896,14.878C123.744,74.311,130.415,80.979,138.641,80.979z"/>
  <path opacity="0.6" fill="#E9B221" d="M24.272,122.754c8.225,0,14.881-6.668,14.881-14.902c0.014-8.212-6.662-14.878-14.881-14.878
  c-8.225,0-14.89,6.666-14.896,14.878C9.376,116.086,16.048,122.754,24.272,122.754z"/>
  <path opacity="0.6" fill="#E9B221" d="M25.643,97.414c8.224,0,14.88-6.667,14.88-14.9c0.014-8.213-6.662-14.879-14.88-14.879
  c-8.226,0-14.89,6.666-14.896,14.879C10.746,90.747,17.417,97.414,25.643,97.414z"/>
  <path opacity="0.6" fill="#E9B221" d="M25.643,73.445c8.224,0,14.88-6.668,14.88-14.901c0.014-8.213-6.662-14.878-14.88-14.878
  c-8.226,0-14.89,6.665-14.896,14.878C10.746,66.777,17.417,73.445,25.643,73.445z"/>
  <path opacity="0.6" fill="#E9B221" d="M108.892,50.182c8.225,0,14.88-6.668,14.88-14.9c0.015-8.214-6.661-14.879-14.88-14.879
  c-8.226,0-14.889,6.665-14.896,14.879C93.996,43.514,100.666,50.182,108.892,50.182z"/>
  <path opacity="0.6" fill="#E9B221" d="M82.646,43.826c8.225,0,14.88-6.668,14.88-14.901c0.015-8.213-6.662-14.878-14.88-14.878
  c-8.225,0-14.89,6.665-14.896,14.878C67.75,37.158,74.422,43.826,82.646,43.826z"/>
  <path opacity="0.6" fill="#E9B221" d="M59.141,43.826c8.226,0,14.881-6.668,14.881-14.901c0.013-8.213-6.663-14.878-14.881-14.878
  c-8.226,0-14.89,6.665-14.896,14.878C44.245,37.158,50.915,43.826,59.141,43.826z"/>
  <path opacity="0.6" fill="#E9B221" d="M32.896,47.443c8.225,0,14.88-6.669,14.88-14.902c0.015-8.213-6.663-14.879-14.88-14.879
  c-8.225,0-14.889,6.666-14.896,14.879C18,40.774,24.671,47.443,32.896,47.443z"/>
  <path opacity="0.6" fill="#E9B221" d="M83.849,153.57c8.225,0,14.881-6.666,14.881-14.9c0.014-8.213-6.663-14.879-14.881-14.879
  c-8.225,0-14.889,6.666-14.896,14.879C68.953,146.904,75.624,153.57,83.849,153.57z"/>
  <path opacity="0.6" fill="#E9B221" d="M105.546,153.57c8.227,0,14.881-6.666,14.881-14.9c0.014-8.213-6.662-14.879-14.881-14.879
  c-8.225,0-14.888,6.666-14.896,14.879C90.65,146.904,97.321,153.57,105.546,153.57z"/>
  <path opacity="0.6" fill="#E9B221" d="M131.792,153.57c8.225,0,14.88-6.666,14.88-14.9c0.015-8.213-6.661-14.879-14.88-14.879
  c-8.225,0-14.89,6.666-14.896,14.879C116.896,146.904,123.567,153.57,131.792,153.57z"/>
  <path opacity="0.6" fill="#E9B221" d="M57.604,150.832c8.225,0,14.88-6.668,14.88-14.901c0.013-8.213-6.663-14.879-14.88-14.879
  c-8.226,0-14.889,6.666-14.896,14.879C42.708,144.164,49.379,150.832,57.604,150.832z"/>
  <path opacity="0.6" fill="#E9B221" d="M15.782,138.397c1.723,3.583,6.028,5.085,9.609,3.366c3.592-1.726,5.089-6.028,3.366-9.615
  c-1.72-3.582-6.028-5.095-9.615-3.372C15.556,130.514,14.058,134.816,15.782,138.397z"/>
  <path opacity="0.6" fill="#E9B221" d="M0.716,85.665c1.723,3.583,6.028,5.085,9.609,3.366c3.592-1.726,5.089-6.028,3.366-9.615
  c-1.72-3.582-6.028-5.095-9.615-3.372C0.489,77.781-1.009,82.084,0.716,85.665z"/>
  <path opacity="0.6" fill="#E9B221" d="M136.313,32.933c1.723,3.583,6.028,5.085,9.609,3.366c3.592-1.726,5.089-6.028,3.366-9.615
  c-1.72-3.582-6.028-5.095-9.615-3.372C136.087,25.049,134.589,29.352,136.313,32.933z"/>
  <path opacity="0.6" fill="#E9B221" d="M128.78,10.333c1.723,3.583,6.028,5.085,9.609,3.366c3.592-1.726,5.089-6.028,3.366-9.615
  c-1.72-3.582-6.028-5.095-9.615-3.372C128.554,2.449,127.056,6.752,128.78,10.333z"/>
  </g>
</svg></span>
