---
title: Beer Menu
---

<div class="menu-wrapper">
  <div class="page-wrapper">
    <section class="menu">
      <div class="menu-column">
        <div class="menu-section">
          <h2 class="uppercase-heading">Lagers</h2>
          <div class="menu-container ">
              <ul class="lagers">
              </ul>
          </div>
        </div>
        <div class="menu-section">
          <h2 class="uppercase-heading">Ales</h2>
          <div class="menu-container">
            <% 16.times do %>
              <div class="menu-item-box">Style Name</div>
          <% end %>
          </div>
        </div>
        <div class="menu-section">
          <h2 class="uppercase-heading">Hybrids</h2>
          <div class="menu-container">
            <% 16.times do %>
              <div class="menu-item-box">Style Name</div>
          <% end %>
          </div>
        </div>
      </div>

      <div class="offcanvas-menu information-column">
        <div class="information-headings">
          <h2 class="uppercase-heading">Category</h2>
          <h3 class="type-heading">Imperial Pale Ale</h3>
        </div>
        <div class="information">
          <ul class="characteristics">
            <li id="history" class="characteristic full-width">
              <span class="mini-heading">History &amp; Summary</span>
              <p>loremipsum</p>
            </li>
            <li id="color" class="characteristic half-width">
              <span class="mini-heading">Color</span>
              <p>loremipsum</p>
            </li>
            <li id="flavor" class="characteristic half-width">
              <span class="mini-heading">Flavor Notes</span>
              <p>loremipsum</p>
            </li>
            <li id="hops" class="characteristic half-width">
              <span class="mini-heading">Hops</span>
              <p>loremipsum</p>
            </li>
            <li id="malt" class="characteristic half-width">
              <span class="mini-heading">Malt</span>
              <p>loremipsum</p>
            </li>
            <li id="recommendation" class="characteristic full-width">
              <span class="mini-heading">Recommendations</span>
              <ul class="recommendations">
                <li><p>Lagunitas</p></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
