---
title: Beer Menu
---

<div class="menu-wrapper">
  <div class="page-wrapper">
    <section class="menu">
      <div class="menu-column">
        <h2>Lager</h2>
        <div class="menu-container">
          <% 16.times do %>
            <div class="menu-item-box">Style Name</div>
        <% end %>
        </div>
      </div>

      <div class="information-column">
        <h2> this is where beer style info will live.</h2>
      </div>
    </section>
  </div>
</div>
