---
title: Brew Love
---

<%= partial "partials/navigation" %>
<section class="landing">
  <div class="page-wrapper">
    <h1 class="landing-header">
      <!-- Brew<span class="landing&#45;icon"></span>Love -->
      <div class="logo">
        <%= image_tag "brewlove-logo.png" %>
      </div>
    </h1>
    <h2 class="landing-subheader">
      Here’s an intro paragraph about this site. It’s going to be 
      hilarious and make you want to learn all about beer. 
      <div class="p-callout">Now let's get drunk.</div>
    </h2>
  </div>
</section>
<section class="page-section water">
  <div class="page-wrapper">
    <div class="section-info">
      <h3 class="section-title"><span class="section-title-i"></span>Water</h3>
      <p>Here's some loremipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin erat nisl, porta in nibh imperdiet, facilisis sagittis diam. Cras eu ultrices ipsum. Nullam fermentum consectetur neque quis tristique dunt dapibus lacus, eget finibus urna mollis id. Cras eu ultrices ipsum. Nullam fermentum consectetur.</p>
    </div>
  </div>
</section>
<section class="page-section malt">
  <div class="page-wrapper">
    <div class="section-info">
      <h3 class="section-title"><span class="section-title-i"></span>Malt</h3>
      <p>Here's some loremipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin erat nisl, porta in nibh imperdiet, facilisis sagittis diam. Cras eu ultrices ipsum. Nullam fermentum consectetur neque quis tristique dunt dapibus lacus, eget finibus urna mollis id. Cras eu ultrices ipsum. Nullam fermentum consectetur.</p>
    </div>
  </div>
</section>
<section class="page-section hops">
  <div class="page-wrapper">
    <div class="section-info">
      <h3 class="section-title"><span class="section-title-i"></span>Hops</h3>
      <p>Here's some loremipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin erat nisl, porta in nibh imperdiet, facilisis sagittis diam. Cras eu ultrices ipsum. Nullam fermentum consectetur neque quis tristique dunt dapibus lacus, eget finibus urna mollis id. Cras eu ultrices ipsum. Nullam fermentum consectetur.</p>
    </div>
  </div>
</section>
<section class="page-section yeast">
  <div class="page-wrapper">
    <div class="section-info">
      <h3 class="section-title"><span class="section-title-i"></span>Yeast</h3>
      <p>Here's some loremipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin erat nisl, porta in nibh imperdiet, facilisis sagittis diam. Cras eu ultrices ipsum. Nullam fermentum consectetur neque quis tristique dunt dapibus lacus, eget finibus urna mollis id. Cras eu ultrices ipsum. Nullam fermentum consectetur.</p>
    </div>
  </div>
</section>
