---
title: Brew Love
---

<%= partial "partials/navigation" %>
<section class="landing">
  <div class="page-wrapper">
    <h1 class="landing-header">
      <!-- Brew<span class="landing&#45;icon"></span>Love -->
      <div class="logo">
        <%= image_tag "brewlove-logo.png" %>
      </div>
    </h1>
    <h2 class="landing-subheader">
      Here’s an intro paragraph about this site. It’s going to be 
      hilarious and make you want to learn all about beer. 
      <div class="p-callout">Now let's get drunk.</div>
    </h2>
  </div>
</section>
